body::-webkit-scrollbar{
        width: 0;
}
*{
    box-sizing: border-box;
    font-family: "Arial";
}
body{
    margin: 0;
}
footer{
    height: 5%;
}
.stage{
    transition: all 1s !important;
}
.stage1{
    margin-left: 0;
}
.stage2{
    margin-left: 45%;
}
.stage3{
    margin-left: 90%;
}
#type{
    width: 1px;
}
#secundario div {
    padding: .5em;
    width: 100%;
}
#wrapper{
    width: 100%;
    height:  95%;
}
#fullfade{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    background: black;
    color: black;
    z-index: 2;
}
#message{
    width: 40%;
    height: 30%;
    position: absolute;
    z-index: 2;
    margin: 15% 30%;   
}
#message_text{
    height: 60%;
    text-align: center;
    padding: 2em;
    font-size: 22px;
    color: white;
    font-family: "Impact";
}
#message_button{
    height: 40%;
}
#message_accept{
    height: 3em;
    margin: 0% 38%;
    cursor: pointer;
    border-radius: 12px;
    background-color: #66ffff;
}
#principal{
    width: 85%;
    height: 100%;
    float: left;
}
#secundario{
    width: 15%;
    height:  100%;
    float: left;
}
.hundred_padding{
    height: 100%;
    width: 100%;
    padding: .5em;
}
.vertical_half{
    height: 50%;
}
.horizontal_float{
    height: 95%;
    float: left;
}
#manual_display, #auto_display{
    width: 75%;
}
#always_displayed, #pause_continue{
    width: 25%;
}
#control_manual{
    width: 100%;
    height: 65%;
    padding: .5em;
}
#inner_manual, #inner_auto, #inner_displayed, #inner_pause{
    width: 100%;
    height: 100%;
    border: 1px dashed red;
    background-color: #00A1F1;
}
#inner_displayed{
    padding: 5%;
}
#inner_auto p{
    display: inline;
    padding-top: 0;
}

#pos{
    float: right;
    display: inline;
}

#inner_auto{
    padding: 8% 8% 2% 8%;
}
#control_auto{
    height: 100%;
    padding: .5em;
}
#always_displayed, #pause_continue{
    padding: .5em;
}
#animation{
    width: 100%;
    height: 35%;
    padding: .5em;
}
#animation_box{
    width: 10%;
    height: 100%;
    background: red;
}
#logo{
    height: 20%;
}

#logo img, #stats img {
    width: 70%;
}
#switch_manauto{
    height: 60%;
}
#stats{
    height: 20%;
}
#inner_stats{
    height: 100%;
}
#manual_input{
    width: 80%;
    float: left;
}
#buttons{
    width: 20%;
    float: left;
    padding: .5em;
    height: 100%;
}
#mas img, #less img{
    width: 50%;
    height: 50%;
}
#mas{
    margin-bottom: 5%;
    margin-top: 5%;
}
.div_title{
    border:dashed 1px red;
    background-color: #00A1F1;
    color: white;
}
#buttons button{
    width: 40%;
    height: 40%;
    display: block;
    border-radius: 12px;
}
#manual_data{
    height: 3em;
    width: 100%;
}
#accept_manual{
    width: 20%;
    padding: .25em;
    margin: 0 40%;
    height: 4em;
    outline: none;
}
#test{
    height: 30%;
    width: 100%;
    padding: 4% 25%;
}
#fade_auto_display{
    width: 85%;
    height: 48%;
    position: absolute;
    background: black;
    opacity: 0.5;
}
#fade_manual_display{
    width: 64%;
    height: 31%;
    position: absolute;
    background: black;
    opacity: 0.5;
}
.disable{
    display: none !important;
}
#switch_manauto button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#form_auto, #form_manual{
    width: 100%;
    height: 100%;
}

#ciclosFormu, #ciclosFormu div{
    display: inline;
    float: left;
}

.vertical_third{
    height: 33.33%;
    width: 100%;
    padding: 1em;
}
.inner_pause_buttons{
    width: 20%;
    height: 100%;
    float: left;
}
.inner_pause_labels{
    width: 80%;
    height: 100%;
    float: left;
}
#inner_pause form{
    width: 100%;
    height: 100%;
}
#inner_pause button{
    width: 65%;
    height: 50%;
    border-radius: 50%;
    padding-top: 4%;
}
.inner_pause_labels{
    padding-top: 3%;
}
#form_auto, #form_manual{
    width: 100%;
    height: 100%;
}

.indicadores{
    border: 1px solid black;
    width: 5%;
    height: 5%;
    float: left;
}
#inner_pause_responsive{
    width: 100%;
    height: 100%;
}
#graph{
    height: 100%;
    background: black;
    transition: padding .5s;
    bottom: 100%;
    right: 100%;
    padding: 0;
    background: #00A1F1;
}
#chart_div{
    width: 100%;
    height: 100%;
    padding: 0 !important;
    background: white;
}
#chart_div>div{
    padding: 0;
}
#chart_div>div>div>div{
    padding: 0;
}
#close_graph{
    width: 3% !important;
    height: 6%;
    position: absolute;
    display: none;
    background: green !important;
    z-index: 1;
    right: 5em;
    transition: all .5s;
}
.expanded{
    transition: all .5s;
    position: absolute;
    bottom: 0 !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 1;
    padding: 5em !important;
}
#close_graph div{
    width: 100%;
    height: 5px;
    background: black;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 0;
}
#graph img{
    display: none;
}
#animation{
    margin: 2% 0;
}